<div class="container">
    <div class="form">
        <div class="row">
            <div class="col-xs-12" align="center">
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Vorname</mat-label>
                    <input matInput placeholder="Vorname" [(ngModel)]="name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" align="center">
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Nachname</mat-label>
                    <input matInput placeholder="Nachname" [(ngModel)]="lastname">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" align="center">
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Geburtsdatum</mat-label>
                    <input type="date" matInput placeholder="Geburtsdatum" [(ngModel)]="birth">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" align="center">
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>E-Mail</mat-label>
                    <input type="email" matInput placeholder="E-Mail" [(ngModel)]="mail">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" align="center">
                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Telefonnummer</mat-label>
                    <input type="tel" matInput placeholder="Tel" [(ngModel)]="tel">
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngFor="let newsletter of newsList">
            <div class="col-xs-12 col-md-6">
                <mat-checkbox [(ngModel)]="newsletter.checked" name="newsletter.name" [checked]="newsletter.checked">{{newsletter.display}}</mat-checkbox>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-checkbox [(ngModel)]="agb">
                Ich willige der Speicherung meiner Daten ein
            </mat-checkbox>
        </div>
        <div class="col-6" align="center">
            <button mat-raised-button [disabled]="agb" (click)="submitUser()">
                Absenden
            </button>
        </div>
    </div>
</div>